<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

{% for stylesheetUrl in extensionConfig.stylesheets %}
  <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
{% endfor %}

<script src="/public/javascripts/cookie.js" data-cookieconsent="statistics" data-policy-url="/cookies" data-service-name="Professional development for teachers and leaders" type="text/javascript"></script>

<script data-cookieconsent="statistics" type="text/plain"></script>

<!-- Google Tag Manager (doesn't store personal info until permission given) -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-N58Z5PG');</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PHZ5TT3VPD"></script>
<script>
if(GovUkCookieConsent.getStatistics())(function(w,l,a,h,v,p,d){w[l]=w[l]||[];function n(){w[l].push(arguments);}n('js',new Date());n('config',w[a][h]==v?p:d);})(window,'dataLayer','location','hostname','professional-development-for-teachers-leaders.education.gov.uk','G-4KXEE08NE4','G-GRS4CMT43F');
</script>
<!-- End Google Tag Manager -->
