
{% extends "layout-version-2.html" %}

{% block content %}
<h1 class="govuk-heading-xl">
  National professional qualifications (NPQs)
   </h1>
    <p>Studying for an NPQ gives you the opportunity to focus on a specialist area of teaching or to develop your leadership skills. It could also help give you the edge in a competitive job market.</p>

    <p>NPQs are free for staff from state-funded schools and organisations that offer 16 to 19 places in England, so you do not have to worry about the cost either.</p>

 <div class="govuk-inset-text govuk-!-padding-top-2"><a href="what-is-an-npq">More information about NPQs</a> and how they could benefit you and your school.</div>

<div class="govuk-grid-row govuk-!-padding-top-0">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      Specialist NPQs
    </h2>
    <p>
      Take a specialist national professional qualification (NPQ) to enhance and develop your existing skills and knowledge both inside and outside of the classroom.
    </p>

</div>
</div>

<div class="govuk-grid-row govuk-!-padding-top-1">
  <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="leading-teaching">Leading teaching NPQ</a></h3>
      <p class="govuk-!-margin-bottom-1">Learn how to lead the teaching and learning of a subject, year group or phase in a way that's effective and helps support colleagues improve pupil outcomes.</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="leading-behaviour-and-culture">Leading behaviour and culture NPQ</a></h3>
      <p class="govuk-!-margin-bottom-6">Learn how to create a culture of good behaviour and high expectations in which staff and pupils can thrive.</p>
    </div>
  </div>

</div>

<div class="govuk-grid-row govuk-!-padding-top-1">
  <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="leading-literacy">Leading literacy NPQ</a></h3>
      <p class="govuk-!-margin-bottom-1">Learn how to effectively teach and promote literacy across the whole school, year group, key stage or phase.</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="leading-teacher-development">Leading teacher development NPQ</a></h3>
      <p class="govuk-!-margin-bottom-1">Learn how to become a teacher educator and successfully support teachers in your school to expand their skills.</p>
    </div>
  </div>

</div>

<div class="govuk-grid-row govuk-!-padding-top-7">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      Leadership NPQs
    </h2>
    <p>
      Take a leadership-focused NPQ to help boost your knowledge and confidence as you progress into more senior roles.</p>

  </div>
</div>

<div class="govuk-grid-row govuk-!-padding-top-1">
  <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="senior-leadership">Senior leadership NPQ</a></h3>
      <p class="govuk-!-margin-bottom-1">Develop your leadership knowledge and expertise to improve outcomes for teachers and pupils in your school.</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="headship">Headship NPQ</a></h3>
      <p class="govuk-!-margin-bottom-1">Develop the knowledge that underpins expert school leadership and apply it to become an outstanding headteacher.</p>
    </div>
  </div>

</div>

<div class="govuk-grid-row govuk-!-padding-top-1">
  <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="executive-leadership">Executive leadership NPQ</a></h3>
      <p class="govuk-!-margin-bottom-1">Develop the expertise you need to become an outstanding executive leader, leading change and improvement across your group of schools or multi-academy trust.</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="early-years-leadership-NPQ">Early years leadership NPQ</a></h3>
      <p class="govuk-!-margin-bottom-1">Develop expertise in leading high-quality early years education and care, as well as effective staff and organisational management.</p>
    <br>
    </div>
  </div>

</div>

<div class="govuk-grid-row govuk-!-padding-top-2">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      Support for new headteachers
    </h2>
    <p>Have you been a headteacher for less than 5 years?</p>

    <p>Our <a href="early-headship-coaching-offer">early headship coaching offer</a> features a range of support, including coaching and networking opportunities. You will also be able to access a toolkit of resources to help you thrive in your role.</p>

  </div>
</div>
<h2 class="govuk-label govuk-label--l">Your feedback </h2>
<div class="govuk-inset-text govuk-!-padding-top-2">Complete our <a href="survey">survey</a>. This will help us to improve this service.</div>
{% endblock %}
