{% extends "layout-version-2.html" %}

{% block pageTitle %}
Professional development for teachers and leaders
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Find who is running this NPQ in your area</h1>

      <div class="govuk-inset-text">
        Search by English region to find your local authority area.
      </div>

      <h2 class="govuk-heading-l">English regions</h2>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">East</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Local authorities</th>
            <th scope="col" class="govuk-table__header">Who offers this NPQ</th>
            <th scope="col" class="govuk-table__header">Provider options</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Braintree, Chelmsford, Epping Forest, Harlow, Uttlesford</th>
            <td class="govuk-table__cell"><a href="https://www.saffronteachingschoolhub.net/page/?title=National+Professional+Qualifications+%28NPQs%29&pid=98">Saffron Teaching School Hub</a></td>
            <td class="govuk-table__cell">Church of England Education Development Trust and Teach First</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Babergh, Colchester, Ipswich, Tendring</th>
            <td class="govuk-table__cell">Alpha Teaching School Hub</td>
            <td class="govuk-table__cell">Best Practice Network</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Cambridge, East Cambridgeshire, Fenland, Huntingdonshire, Peterborough, South Cambridgeshire</th>
            <td class="govuk-table__cell">Cambridgeshire and Peterborough Teaching School Hub</td>
            <td class="govuk-table__cell">Church of England Education Development Trust and Teach First</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Broadland, King's Lynn and West Norfolk, North Norfolk, Norwich</th>
            <td class="govuk-table__cell">The Julian Teaching School Hub</td>
            <td class="govuk-table__cell">Church of England Education Development Trust and Teacher Development Trust</td>
          </tr>
        </tbody>
      </table>


      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">North East London</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Local authorities</th>
            <th scope="col" class="govuk-table__header">Who offers this NPQ</th>
            <th scope="col" class="govuk-table__header">Provider options</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Hackney, Tower Hamlets</th>
            <td class="govuk-table__cell">East London Teaching School Hub</td>
            <td class="govuk-table__cell">Church of England Education Development Trust and Teach First</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Barking and Dagenham, Havering, Newham</th>
            <td class="govuk-table__cell">London District East Teaching School Hub</td>
            <td class="govuk-table__cell">Church of England Education Development Trust and Teach First</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Haringey, Redbridge, Waltham Forest</th>
            <td class="govuk-table__cell">North East London Teaching School Hub</td>
            <td class="govuk-table__cell">Church of England Education Development Trust and Teach First</td>
          </tr>
        </tbody>
      </table>    

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">East Midlands and the Humber</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Local authorities</th>
            <th scope="col" class="govuk-table__header">Who offers this NPQ</th>
            <th scope="col" class="govuk-table__header">Provider options</th>
          </tr>
        </tbody>
      </table>    

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Lancashire and West Yorkshire</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Local authorities</th>
            <th scope="col" class="govuk-table__header">Who offers this NPQ</th>
            <th scope="col" class="govuk-table__header">Provider options</th>
          </tr>
        </tbody>
      </table> 

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">North</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Local authorities</th>
            <th scope="col" class="govuk-table__header">Who offers this NPQ</th>
            <th scope="col" class="govuk-table__header">Provider options</th>
          </tr>
        </tbody>
      </table> 

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">North West London</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Local authorities</th>
            <th scope="col" class="govuk-table__header">Who offers this NPQ</th>
            <th scope="col" class="govuk-table__header">Provider options</th>
          </tr>
        </tbody>
      </table> 

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">South East</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Local authorities</th>
            <th scope="col" class="govuk-table__header">Who offers this NPQ</th>
            <th scope="col" class="govuk-table__header">Provider options</th>
          </tr>
        </tbody>
      </table> 

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">South West</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Local authorities</th>
            <th scope="col" class="govuk-table__header">Who offers this NPQ</th>
            <th scope="col" class="govuk-table__header">Provider options</th>
          </tr>
        </tbody>
      </table> 

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">South London</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Local authorities</th>
            <th scope="col" class="govuk-table__header">Who offers this NPQ</th>
            <th scope="col" class="govuk-table__header">Provider options</th>
          </tr>
        </tbody>
      </table> 

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">West Midlands</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Local authorities</th>
            <th scope="col" class="govuk-table__header">Who offers this NPQ</th>
            <th scope="col" class="govuk-table__header">Provider options</th>
        </tbody>
      </table> 

    </div>
  </div>

{% endblock %}