{% extends "layout-version-2.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">National Professional Qualification</span>
      <h1 class="govuk-heading-xl">Headship</h1>

      <h2 class="govuk-heading-l">Summary</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            For
          </dt>
          <dd class="govuk-summary-list__value">
            Classroom teachers and middle leaders
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Course duration
          </dt>
          <dd class="govuk-summary-list__value">
            12 to 15 months
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Weekly study time
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">1 to 2 hours</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Study type
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Mix of self-study and group sessions, mostly online</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Assessment type
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Case study (2,000 words)</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Next start
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Autumn 2022 (apply from June)</p>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-l">Course overview</h2>

      <p>This course will help staff gain confidence and develop skills in:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>implementing evidence-based professional development programmes focused on improving classroom teaching</li>
        <li>promoting a strong professional development culture across their school</li>
      </ul>

      <p>Teachers will get to train alongside peers with similar responsibilities. The course content focuses on the key challenges teachers face in their role.</p>

      <p>Teachers and education experts designed this course to fit around busy teaching timetables. There's no project work and minimal time out of school required.</p>

      <h2 class="govuk-heading-l">Who this course is for</h2>

      <p>This course is for teachers and middle leaders who have, or want to have:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>responsibilities for leading the development of other teachers in their school. This includes anyone interested in mentoring trainees or early career teachers</li>
      </ul>

      <h2 class="govuk-heading-l">What you will learn</h2>

      <p>This course covers:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>designing and delivering effective professional development</li>
        <li>how to make informed evidence-based professional development decisions</li>
        <li>techniques for tailoring and adapting support based on individual development needs</li>
      </ul>

      <h2 class="govuk-heading-l">How you and your school could benefit</h2>

      <h3 class="govuk-heading-m">Professional development culture</h3>

      <p>Build expertise around creating a culture of professional learning and continuous improvement in your school.
      </p>

      <h3 class="govuk-heading-m">Pupil outcome improvements</h3>

      <p>You will learn how to ensure professional development in your school is focused on a shared responsibility for improving outcomes for all pupils.</p>

      <h3 class="govuk-heading-m">Effective support for colleagues</h3>

      <p>Develop the skills to help colleagues plan effective lessons, meet individual pupil needs and provide opportunities for all pupils to succeed without creating unnecessary workload.</p>

      <h3 class="govuk-heading-m"> Create a positive school culture</h3>

      <p>You will learn to develop school-wide systems and processes to support pupils. This will enable you to get the best out of them.</p>

      <h3 class="govuk-heading-m">Training based around individual timetables</h3>

      <p>You can complete much of the work in bite-size chunks around existing schedules.</p>

      <h3 class="govuk-heading-m">Learn with people from different education settings</h3>

      <p>Take advantage of training alongside a diverse group of fellow educators with lots of different perspectives. You can learn from each other’s experiences and bounce ideas off each other during group sessions and collaborative practical tasks.</p>

      <h3 class="govuk-heading-m">Improve pupil outcomes</h3>

      <p>You will be able to shape a positive and encouraging atmosphere where pupils are more likely to thrive.</p>

      <h3 class="govuk-heading-m">Build a positive culture</h3>

      <p>You will feel supported if your school invests in your development. This will filter down to the classroom, creating happier, more motivated pupils.</p>

      <h2 class="govuk-heading-l">Course structure</h2>

      <p>The DfE-approved providers offering this NPQ have designed their course content around an evidence-based framework.</p>

      <p>The course covers six topics, with a mix of self-study and group coaching sessions, as well as face-to-face sessions with other participants.</p>

      <p>On average you will need to spend between one and 2 hours per week working towards completing this NPQ. Where possible, you should do this during dedicated career development time in school hours.</p>

      <h2 class="govuk-heading-l">How this NPQ is assessed</h2>

      <p>To get your NPQ accreditation you'll need to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>complete the course</li>
        <li>pass a written assessment (1,500 words) at the end</li>
      </ul>

      <p>Your course provider will be able to give you more details about how the assessment works.</p>

      <h2 class="govuk-heading-l">Course funding</h2>

      <p>Full DfE funding, with no cost to the participant, is available to staff from:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>state-funded schools in England</li>
        <li>state-funded organisations that offer 16 to 19 places in England</li>
      </ul>

      <p>You can do more than one NPQ, but will only be eligible for funding for each NPQ once. If you withdraw or fail your course you cannot get funded again for the same NPQ.</p>

      <h2 class="govuk-heading-l">Next steps</h2>

      <h3 class="govuk-heading-m">Step 1</h3>

      <p>Speak to your line manager to get support for you doing this NPQ.</p>

      <h3 class="govuk-heading-m">Step 2</h3>

      <p>Once you have your school's approval, they'll be able to help you choose a training provider.</p>

      <h3 class="govuk-heading-m">Step 3</h3>

      <p><a href="https://register-national-professional-qualifications.education.gov.uk/">Register with us</a> so we can confirm you're eligible to take this course for free.<p/>

      <p>We will give your details to your chosen provider once you have registered. They will then send you an application form.</p>
      <h2 class="govuk-label govuk-label--l">Your feedback </h2>
      <div class="govuk-inset-text govuk-!-padding-top-2">Complete our <a href="survey">survey</a>. This will help us to improve this service</div>
    </div>
  </div>

{% endblock %}
