{% extends "layout-version-2.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">National Professional Qualification</span>
      <h1 class="govuk-heading-xl">Leading literacy</h1>

      <h2 class="govuk-heading-l">Summary</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            For
          </dt>
          <dd class="govuk-summary-list__value">
            Classroom teachers and middle leaders
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Course duration
          </dt>
          <dd class="govuk-summary-list__value">
            12 months
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Average weekly study time
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">1 to 2 hours</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Study type
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Mix of self-study and group sessions</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Assessment type
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Reflection based on case study (1,500 words)</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Next start
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Autumn 2022 (apply from June)</p>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-l">Course overview</h2>

      <p>This one-year course will help staff gain confidence and develop skills in:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>running literacy improvement strategies</li>
        <li>supporting colleagues who want to develop their pupils' reading</li>
      </ul>

      <p>Teachers will get to train alongside peers with similar responsibilities. The course content focuses on the key challenges teachers face in their role.</p>

      <p>Teachers and education experts designed this course to fit around busy teaching timetables. There's no project work and minimal time out of school required.</p>

      <h2 class="govuk-heading-l">Who this course is for</h2>

      <p>This course is for teachers and middle leaders who have, or want to have:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>responsibilities for leading literacy across a school, year group, key stage or phase</li>
      </ul>

      <h2 class="govuk-heading-l">What you will learn</h2>

      <p>This course covers how to support colleagues to develop all pupils':</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>language capability and wider understanding of language</li>
        <li>word reading</li>
        <li>reading comprehension</li>
        <li>writing skills</li>
      </ul>

      <p>You will also learn how to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>contribute to effective professional development linked to teaching, curriculum and assessment across the school</li>
        <li>design and implement literacy improvement strategies</li>
      </ul>

      <h2 class="govuk-heading-l">How you and your school could benefit</h2>

      <h3 class="govuk-heading-m">Wider understanding of language</h3>

      <p>You will be able to use techniques from the course to help your school's development of pupils' language and vocabulary.</p>

      <h3 class="govuk-heading-m">Practical skills to encourage reading</h3>

      <p>Course participants will learn how to build a school-wide culture that promotes reading for pleasure.</p>

      <h3 class="govuk-heading-m">Making use of existing resources</h3>

      <p>The course has been designed to ensure teachers responsible for leading literacy don't need to create new resources.</p>

      <h3 class="govuk-heading-m">Help with teaching phonics effectively</h3>

      <p>You will be able to support colleagues to develop all pupils' word reading by ensuring the school uses systematic synthetic phonics methods.</p>

      <h3 class="govuk-heading-m">Promoting joined-up handwriting</h3>

      <p>The course emphasises the positive impact that effective and careful teaching of letter formation and joined-up handwriting can have.</p>

      <h3 class="govuk-heading-m">Learning with people from different education settings</h3>

      <p>Take advantage of training alongside a diverse group of fellow educators with lots of different perspectives. You can learn from each other’s experiences and bounce ideas off each other during group sessions and collaborative practical tasks.</p>

      <h2 class="govuk-heading-l">Course structure</h2>

      <p>The DfE-approved providers offering this NPQ have designed their course content around an evidence-based framework.</p>

      <p>The course covers six topics, with a mix of self-study and group coaching sessions, as well as face-to-face sessions with other participants.</p>

      <p>On average you will need to spend between one and 2 hours per week working towards completing this NPQ. Where possible, you should do this during dedicated career development time in school hours.</p>

      <h2 class="govuk-heading-l">How this NPQ is assessed</h2>

      <p>To get your NPQ accreditation you’ll need to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>complete the course</li>
        <li>pass a written assessment (1,500 words) at the end</li>
      </ul>

      <p>Your course provider will be able to give you more details about how the assessment works.</p>

      <h2 class="govuk-heading-l">Course funding</h2>

      <p>Full DfE funding, with no cost to the participant, is available to staff from:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>state-funded schools in England</li>
        <li>state-funded organisations that offer 16 to 19 places in England</li>
      </ul>

      <p>You can do more than one NPQ, but will only be eligible for funding for each NPQ once. If you withdraw or fail your course you cannot get funded again for the same NPQ.</p>

      <h2 class="govuk-heading-l">Next steps</h2>

      <h3 class="govuk-heading-m">Step 1</h3>

      <p>Speak to your line manager to get support for you doing this NPQ.</p>

      <h3 class="govuk-heading-m">Step 2</h3>

      <p>Once you have your school's approval, they'll be able to help you choose a training provider.</p>

      <h3 class="govuk-heading-m">Step 3</h3>

      <p><a href="https://register-national-professional-qualifications.education.gov.uk/">Register with us</a> so we can confirm you're eligible to take this course for free.<p/>

      <p>We will give your details to your chosen provider once you have registered. They will then send you an application form.</p>
      <h2 class="govuk-label govuk-label--l">Your feedback </h2>
      <div class="govuk-inset-text govuk-!-padding-top-2">Complete our <a href="survey">survey</a>. This will help us to improve this service</div>
    </div>
  </div>


    {{ super() }}
{% endblock %}
