
{% extends "layout-version-2.html" %}

{% block pageTitle %}
Professional development for teachers and leaders
{% endblock %}


{% block content %}




 

<div class="govuk-grid-column-full blue-background govuk-!-padding-top-7 govuk-!-padding-bottom-5 govuk-!-padding-left-5 govuk-!-margin-bottom-5">
  <h1 class="govuk-heading-xl white-text govuk-!-margin-top-0 govuk-!-margin-bottom-0">Professional development for teachers and leaders</h1>
  <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-top-6 govuk-!-margin-bottom-4 white-text">We fund a range of evidence-based professional development options so you can hone your skills at every stage of your career.

</p>

</div>
  


    


<div class="govuk-grid-row govuk-!-padding-top-5">

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
   Our options
    </h2> 
    <ul class="homepage-services-and-info__list" data-module="gem-track-click" data-gem-track-click-module-started="true">
          
      <li class="chevron-card">
        <div class="chevron-card__wrapper">
          <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2"><a class="govuk-link chevron-card__link" data-track-action="topicsLink" data-track-category="homepageClicked" data-track-dimension-index="29" data-track-dimension="Benefits" data-track-label="/browse/benefits" data-track-value="1" href="course-list">   National professional qualifications</a></h3>
      
          <p class="govuk-body chevron-card__description">      National professional qualifications (NPQs) are a national, voluntary suite of qualifications, designed to support the professional development of teachers and leaders.</p>
        </div>
      </li>
      <li class="chevron-card">
        <div class="chevron-card__wrapper">
          <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2"><a class="govuk-link chevron-card__link" data-track-action="topicsLink" data-track-category="homepageClicked" data-track-dimension-index="29" data-track-dimension="Benefits" data-track-label="/browse/benefits" data-track-value="1" href="/browse/benefits">Early career teachers</a></h3>
      
          <p class="govuk-body chevron-card__description">  Blah blah blah lorem ipsum  Blah blah blah lorem ipsum  Blah blah blah lorem ipsum  Blah blah blah lorem ipsum  Blah blah blah lorem ipsum</p>
        </div>
      </li>    
  
                
            </ul>
 

</div>
</div>


{% endblock %}
