{% extends "layout-version-2.html" %}

{% block pageTitle %}
Professional development for teachers and leaders
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="course-list">Back</a>
{% endblock %}

<h1 class="govuk-heading-xl">National professional qualifications (NPQs)</h1>

      <h2 class="govuk-heading-l">What is a national professional qualification (NPQ)?</h2>

<p>NPQs have been designed to support the professional development of teachers and leaders beyond the first few years of teaching.</p>

 <p>We want to help all teachers and school leaders to continuously develop their expertise throughout their careers so every child gets the best start in life.</p>   
 
 <p>An NPQ is similar to a level 7 qualification such as a postgraduate master's degree. Study typically involves completing a series of modules and passing a written assessment at the end.</p>

 <h2>How long is an NPQ?</h2>
 
 <p>NPQs courses take between 12 months and 18 months to complete depending on which one you're doing.</p>

 <h2>Are there different types of NPQ?</h2>

 <p>We want all teachers to have options for high-quality, evidence-informed, practical professional development. To reflect this, there are 2 types of NPQ:</p>

 <ul class="govuk-list govuk-list--bullet">
    <li>specialist courses for anyone who wants to focus on different aspects of classroom practice and school life</li>
    <li>leadership courses aimed at developing leadership skills and knowledge</li>
  </ul>

  <h2>What an NPQ involves</h2>

<p>NPQs are typically split into separate modules, with a mix of self-study and group coaching sessions, as well as face-to-face sessions alongside other participants.</p>




 



You'll have access to online content providing flexible learning that can be done at a time to suit your pace.  
On average you will need to spend between 1 and 2 hours per week working towards completing a course. Where possible, you should do this during dedicated career development time in school hours.
Why take an NPQ

Completing an NPQ could help you:

deepen your expertise in your chosen area
improve pupil outcomes by implementing what you've learnt
gain knowledge that can be shared with colleagues
</div>

</div>

{% endblock %}