{% extends "layout-version-2.html" %}

{% block pageTitle %}
Professional development for teachers and leaders
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="course-list">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-xl">What is an NPQ?</h1>

<p>NPQs have been designed to support the continous professional development of teachers and leaders throughout their careers.</p>   
 
<p>An NPQ is similar to a level 7 qualification such as a postgraduate master's degree. Study typically involves completing a series of modules and passing a written assessment at the end.</p>

<h2 class="govuk-heading-l">How long is an NPQ?</h2>
 
<p>NPQ courses take between 12 months and 21 months to complete depending on which one you're doing.</p>

<h2 class="govuk-heading-l">Are there different types of NPQ?</h2>

<p>We want all teachers to have options for high-quality, evidence-informed, practical professional development. To reflect this, there are 2 types of NPQ:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>specialist courses for anyone who wants to focus on different aspects of classroom practice and school life</li>
    <li>leadership courses aimed at developing your skills and knowledge as you progress into more senior roles</li>
</ul>

<h2 class="govuk-heading-l">What an NPQ involves</h2>

<p>NPQs are typically split into separate modules, with a mix of self-study and group coaching sessions, as well as face-to-face sessions alongside other participants.</p>

<p>You'll have access to online content providing flexible learning that can be done at a time to suit your pace.</p>

<p>On average you will need to spend between 1 and 2 hours per week working towards completing a course. Where possible, you should do this during dedicated career development time in school hours.</p>
 
<h2 class="govuk-heading-l">Why take an NPQ</h2>

<p>Completing an NPQ could help you:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>deepen your expertise in your chosen area</li>
    <li>improve pupil outcomes by implementing what you've learnt</li>
    <li>gain knowledge that can be shared with colleagues</li>
</ul>
<h2 class="govuk-label govuk-label--l">Your feedback </h2>
<div class="govuk-inset-text govuk-!-padding-top-2">Complete our <a href="survey">survey</a>. This will help us to improve this service.</div>
</div>
</div>


{% endblock %}