{% extends "layout.html" %}
{% block meta %}
<meta name="keywords" content="Everything teachers and leaders need to know about doing the early years leadership NPQ." />
{% endblock %}
{% block pageTitle %}
Early years leadership NPQ
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">National Professional Qualification</span>
      <h1 class="govuk-heading-xl">Early years leadership</h1>

      <h2 class="govuk-heading-l">Summary</h2>


      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            For
          </dt>
          <dd class="govuk-summary-list__value">
            Current or aspiring managers of private, voluntary and independent nurseries, headteachers of school-based or maintained nurseries, childminders with leadership responsibilities
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Course duration
          </dt>
          <dd class="govuk-summary-list__value">
            18 months
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Average weekly study time
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">1 to 2 hours</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Study type
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Mix of self-study and group sessions</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Assessment type
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Reflection based on case study (up to 2,500 words)</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Next start
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Autumn 2022 (apply from June)</p>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-l">Course overview</h2>

      <p>This course will help staff gain confidence and develop skills in:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>delivering high-quality early education and care</li>
        <li>organisational management and staff development</li>
        <li>giving constructive feedback to parents and carers</li>
        <li>working with children who have additional and special educational needs</li>
        <li>implementing improvements</li>
      </ul>

      <p>You'll get to train alongside peers with similar responsibilities. The course content focuses on the key challenges teachers face in their role.</p>

      <p>Early years professionals helped us design this course to fit around busy schedules so it does not add to your workload.</p>

      <h2 class="govuk-heading-l">Who this course is for</h2>

      <p>This course is for leaders qualified to at least level 3 with a full and relevant qualification who are, or want to be:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>managers of private, voluntary and independent nurseries</li>
        <li>childminders with leadership responsibilities</li>
        <li>headteachers of school-based or maintained nurseries</li>
      </ul>

      <h2 class="govuk-heading-l">What you'll learn</h2>

      <p>You'll learn how to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>establish and sustain your setting's strategic direction</li>
        <li>develop an evidence-based teaching culture</li>
        <li>plan and deliver care and a high-quality curriculum to support child development</li>
        <li>implement communication, language and literacy approaches to support children's learning</li>
        <li>effectively manage children's behaviour and support children's personal, social and emotional development</li>
        <li>ensure all leaders, practitioners and teachers can identify any additional needs early and ensure appropriate referrals</li>
        <li>prioritise, allocate and manage resources appropriately, effectively and efficiently across all settings to ensure sustainability</li>
        <li>ensure rigorous approaches to identifying, managing and mitigating risk</li>
        <li>plan and execute implementation of what you’ve learned</li>
      </ul>

      <h2 class="govuk-heading-l">How you and your school could benefit</h2>

      <h3 class="govuk-heading-m">Ensuring all children experience success</h3>

      <p>After completing this course you'll be able to develop an ambitious curriculum that meets the needs of all your children.</p>

      <h3 class="govuk-heading-m">Delivering a high-quality and ambitious curriculum</h3>

      <p>You’ll learn how to deliver a curriculum to support child development which is rooted in a clear pedagogical vision.</p>

      <h3 class="govuk-heading-m">Smoothing the admissions, exclusions and appeals process</h3>

      <p>The course will boost your understanding of how to comply with relevant laws and statutory guidance. You'll also learn about creating fair and inclusive policies, processes and systems.
      </p>

      <h3 class="govuk-heading-m">Managing resources effectively</h3>

      <p>You'll gain knowledge about budgeting, funding and marketing. You'll also be able to confidently recruit and develop the right people for your setting.</p>

      <h3 class="govuk-heading-m">Knowing what approaches to use</h3>

      <p>This course will help you hone your decision-making skills. The techniques you learn can be applied to a range of different improvement decisions for your setting.</p>

      <h3 class="govuk-heading-m">Learning with people from different education settings</h3>

      <p>Take advantage of training alongside a diverse group of fellow early years professionals with lots of different perspectives. You can learn from each other's experiences and bounce ideas off each other during group sessions and collaborative practical tasks.</p>

      <h2 class="govuk-heading-l">Course structure</h2>

      <p>The DfE-approved providers offering this NPQ have designed their course content around an evidence-based framework.</p>

      <p>The course covers 7 topics, with a mix of self-study and group coaching sessions, as well as face-to-face sessions with other participants.</p>

      <p>On average you will need to spend between 1 and 2 hours per week working towards completing this NPQ. Where possible, you should do this during dedicated career development time in work hours.</p>

      <h2 class="govuk-heading-l">How this NPQ is assessed</h2>

      <p>To get your NPQ accreditation you'll need to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>complete the course</li>
        <li>pass a written assessment (up to 2,500 words) at the end of the course</li>
      </ul>

      <p>Your course provider will be able to give you more details about how the assessment works.</p>

      <h2 class="govuk-heading-l">Course funding</h2>

      <p>Full DfE funding, with no cost to the participant, is available to leaders employed:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>in a maintained nursery school in England</li>
        <li>in a preschool class that's part of a school in England</li>
        <li>in a nursery that is registered on the Ofsted Early Years Register</li>
        <li>as a childminder and registered on the Ofsted Early Years Register or with a registered Childminder Agency and working with early years children</li>
      </ul>

      <p>Depending on your type of setting, you may be able to get funding for more than one NPQ. You will only be eligible for funding for each NPQ once though. If you withdraw or fail your course you cannot get funded again for the same NPQ.</p>

      <h2 class="govuk-heading-l">Next steps</h2>

      <h3 class="govuk-heading-m">Step 1</h3>

      <p>If you have a line manager or work in a setting with a head teacher, speak to them to get their support to do this NPQ. Otherwise, progress straight to Step 2.</p>

      <h3 class="govuk-heading-m">Step 2</h3>

      <p>Choose a training provider.</p>

      <h3 class="govuk-heading-m">Step 3</h3>

      <p><a href="https://register-national-professional-qualifications.education.gov.uk/">Register with us</a> so we can confirm you're eligible to take this course for free. This will include needing to register for a Teacher Reference Number (TRN) so we can identify you and track your progress.<p/>

      <p>We will give your details to your chosen provider once you have registered. They'll then send you an application form.</p>

    </div>
  </div>

    {{ super() }}
{% endblock %}
