{% extends "layout.html" %}
{% block meta %}
<meta name="keywords" content="Everything teachers and leaders need to know about doing the early years leadership NPQ." />
{% endblock %}
{% block pageTitle %}
Early years leadership NPQ
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">National professional qualification</span>
      <h1 class="govuk-heading-xl">Early years leadership</h1>

      <h2 class="govuk-heading-l">Summary</h2>


      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            For
          </dt>
          <dd class="govuk-summary-list__value">
            <p>Current or aspiring managers of private, voluntary and independent nurseries.</p>
            <p>Headteachers or leaders of school-based or maintained nurseries.</p>
            <p>Childminders with leadership responsibilities.</p>
            <p>Other early years foundation stage leaders, such as reception class teachers or early years coordinators.</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Course duration
          </dt>
          <dd class="govuk-summary-list__value">
            18 months
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Average weekly study time
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">1 to 2 hours</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Study type
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Mix of self-study and group sessions</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Assessment type
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Reflection based on case study (up to 2,500 words)</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Next start
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">October 2023</p>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-l">Course overview</h2>

      <p>This course will help you gain confidence and develop skills in:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>delivering high-quality early education and care</li>
        <li>organisational management and staff development</li>
        <li>giving constructive feedback to parents and carers</li>
        <li>working with children who have additional and special educational needs</li>
        <li>implementing improvements</li>
      </ul>

      <p>You’ll get to train alongside peers with similar responsibilities. The course content focuses on the key challenges teachers face in their role.</p>

      <p>Early years professionals helped us design this course to fit around busy schedules so it does not add to your workload.</p>

      <h2 class="govuk-heading-l">Who this course is for</h2>

      <p>This course is for leaders qualified to at least level 3 with a full and relevant qualification who are, or want to be:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>managers of private, voluntary and independent nurseries</li>
        <li>headteachers or leaders of school-based or maintained nurseries</li>
        <li>childminders with leadership responsibilities</li>
        <li>other early years foundation stage leaders, such as reception class teachers or early years coordinators</li>
      </ul>

      <p>If you work in a school, discuss with your headteacher or provider which NPQ best meets your needs. The other NPQs are designed with school teachers and leaders in mind.</p>

      <h2 class="govuk-heading-l">What you’ll learn</h2>

      <p>You’ll learn how to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>establish and sustain your setting’s strategic direction</li>
        <li>develop an evidence-based teaching culture</li>
        <li>plan and deliver care and a high-quality curriculum to support child development</li>
        <li>implement communication, language and literacy approaches to support children’s learning</li>
        <li>effectively manage children’s behaviour and support children’s personal, social and emotional development</li>
        <li>ensure all leaders, practitioners and teachers can identify any additional needs early and ensure appropriate referrals</li>
        <li>prioritise, allocate and manage resources appropriately, effectively and efficiently across all settings to ensure sustainability</li>
        <li>ensure rigorous approaches to identifying, managing and mitigating risk</li>
        <li>plan and execute implementation of what you’ve learned</li>
      </ul>

      <h2 class="govuk-heading-l">How you and your school could benefit</h2>

      <h3 class="govuk-heading-m">Ensuring all children experience success</h3>

      <p>After completing this course you’ll be able to develop an ambitious curriculum that meets the needs of all your children.</p>

      <h3 class="govuk-heading-m">Delivering a high-quality and ambitious curriculum</h3>

      <p>You’ll learn how to deliver a curriculum to support child development which is rooted in a clear pedagogical vision.</p>

      <h3 class="govuk-heading-m">Smoothing the admissions, exclusions and appeals process</h3>

      <p>The course will boost your understanding of how to comply with relevant laws and statutory guidance. You’ll also learn about creating fair and inclusive policies, processes and systems.
      </p>

      <h3 class="govuk-heading-m">Managing resources effectively</h3>

      <p>You’ll gain knowledge about budgeting, funding and marketing. You’ll also be able to confidently recruit and develop the right people for your setting.</p>

      <h3 class="govuk-heading-m">Knowing what approaches to use</h3>

      <p>This course will help you hone your decision-making skills. The techniques you learn can be applied to a range of different improvement decisions for your setting.</p>

      <h3 class="govuk-heading-m">Learning with people from different education settings</h3>

      <p>You’ll train alongside a diverse group of early years professionals with different perspectives. You can learn from each other’s experiences during group sessions and collaborative practical tasks.</p>

      <h2 class="govuk-heading-l">Course structure</h2>

      <p>The DfE-approved providers offering this NPQ have designed their course content around an evidence-based framework.</p>

      <p>The course covers 7 topics, with a mix of self-study and group coaching sessions, as well as face-to-face sessions with other participants.</p>

      <p>On average you will need to spend between 1 and 2 hours per week working towards completing this NPQ. Where possible, you should do this during dedicated career development time in work hours.</p>

      <h2 class="govuk-heading-l">Providers</h2>

      <p>You can train with one of the following providers:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.ambition.org.uk/programmes/npqeyl/">Ambition Institute</a></li>
        <li><a href="https://www.educationdevelopmenttrust.com/EducationDevelopmentTrust/files/8a/8a14e343-56cf-4c28-8332-3e0fe3177abd.pdf">Education Development Trust</a></li>
        <li><a href="https://niot.org.uk/programmes/npq-in-early-years-leadership">National Institute of Teaching</a></li>
        <li><a href="https://tdtrust.org/npqeyl-2/">Teacher Development Trust</a></li>
        <li><a href="https://www.teachfirst.org.uk/npqs/early-years-leadership">Teach First</a></li>
        <li><a href="https://www.ucl.ac.uk/ioe/departments-and-centres/centres/ucl-centre-educational-leadership/national-professional-qualifications/npqeyl-national-professional-qualification-early-years-leadership">UCL Institute of Education</a></li>
      </ul>

      <h2 class="govuk-heading-l">How this NPQ is assessed</h2>

      <p>To get your NPQ accreditation you’ll need to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>complete the course</li>
        <li>pass a written assessment (up to 2,500 words) at the end of the course</li>
      </ul>

      <p>Your course provider will be able to give you more details about how the assessment works.</p>

      <h2 class="govuk-heading-l">Course funding</h2>

      <p>Funding is available for some early years professionals, teachers and leaders.</p>

      <p><a href="https://www.gov.uk/government/publications/national-professional-qualifications-npqs">Learn more about funding to check if you’re eligible</a>.</p>

      <h2 class="govuk-heading-l">Apply</h2>

      <p>To apply, you need to:</p>

      <ul class="govuk-list govuk-list--bullet">
      <li>choose a provider</li>
      <li><a href="https://register-national-professional-qualifications.education.gov.uk/">register</a> with the Department for Education</li>
      <li>apply seperately with your training provider - they’ll send you an application form once you’ve registered</li>
      </ul>

      <p>You should also speak to your workplace to check they support you to do this NPQ.</p>


    </div>
  </div>

{% endblock %}
