{% extends "layout.html" %}
{% block meta %}
<meta name="keywords" content="Everything headteachers need to know about the DfE's early headship coaching offer." />
{% endblock %}
{% block pageTitle %}
Early headship coaching offer
{% endblock %}ß

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/index">Home</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Early headship coaching offer</h1>

      <p>This targeted one-year support package has been tailored to the needs of new headteachers.</p>

      <p>It provides structured, unassessed face-to-face support based on the best available evidence about what makes an effective headteacher. You can complete it alongside the national professional qualification for headship (NPQH) or if you have recently taken the NPQH.</p>
      
      <p>While the exact content of this support will depend on your chosen training provider, activities could include a combination of group coaching, one-to-one support discussions and peer network support.</p>
      
      <p>You're eligible for this support if you meet the following criteria:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>are in your first 5 years of headship at a state-funded school or state-funded organisation that offers 16 to 19 places in England</li>
        <li>are taking or have completed the NPQH</li>
        <li>have not withdrawn from the additional support programme previously</li>
      </ul>

      <p>Contact your local teaching school hub, lead provider or other delivery partner to find out more.</p>
    
    </div>
  </div>

{% endblock %}