{% extends "layout.html" %}
{% block meta %}
<meta name="keywords" content="Everything teachers and leaders need to know about doing the executive leadership NPQ." />
{% endblock %}
{% block pageTitle %}
Executive leadership NPQ
{% endblock %}ß

{% block beforeContent %}
{{ super() }}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/"
    }
  ]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">National Professional Qualification</span>
      <h1 class="govuk-heading-xl">Executive leadership</h1>

      <h2 class="govuk-heading-l">Summary</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            For
          </dt>
          <dd class="govuk-summary-list__value">
            Executive school leaders
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Course duration
          </dt>
          <dd class="govuk-summary-list__value">
            18 months
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Average weekly study time
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">1 to 2 hours</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Study type
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Mix of self-study and group sessions</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Assessment type
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Reflection based on case study (up to 2,500 words)</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Next start
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Autumn 2022 (apply from June)</p>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-l">Course overview</h2>

      <p>This 18-month course will help you gain confidence and develop skills in:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the specialist expertise required to run a multi-school organisation</li>
        <li>developing processes and systems that enable and encourage collaboration between staff within and across schools</li>
        <li>effectively managing resources and establishing sustainable policies</li>
      </ul>

      <h2 class="govuk-heading-l">Who this course is for</h2>

      <p>This course is for school leaders who are, or want to be an:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>executive headteacher</li>
        <li>or have a school trust chief executive role with responsibility for leading several schools</li>
      </ul>

      <h2 class="govuk-heading-l">What you'll learn</h2>

      <p>This course covers themes including:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>trust culture</li>
        <li>effective teaching</li>
        <li>supporting curriculum and assessment development</li>
        <li>behaviour</li>
        <li>additional and special educational needs</li>
        <li>professional development</li>
        <li>organisational management</li>
      </ul>

      <p>You'll also learn about:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>implementation strategies</li>
        <li>working in partnership with parents and carers</li>
        <li>governance and accountability</li>
      </ul>

   <h2 class="govuk-heading-l">How you and your school could benefit</h2>

      <h3 class="govuk-heading-m">Excel as an executive leader</h3>

      <p>Set an ambitious vision for your schools or trust and create the conditions and culture needed for staff and pupils to thrive.</p>

      <h3 class="govuk-heading-m">Learn from experts</h3>

      <p>Join one-to-one coaching sessions where you'll get advice from experts and tailored feedback on your performance.</p>

      <h3 class="govuk-heading-m">Flexible learning</h3>

      <p>This programme is designed to be completed alongside your daily role. It is delivered in short, bite-sized chunks which will fit around your existing commitments.</p>

      <h3 class="govuk-heading-m">Form a strong support network</h3>

      <p>Connect with other school leaders, share your collective expertise and build a network with people who face similar challenges as you.</p>

      <h3 class="govuk-heading-m">Focus on your specific needs</h3>

      <p>Traditionally, professional development in leadership has focused on personal traits, such as the qualities of dynamic and charismatic leadership. This course pays more attention to tackling the persistent problems of your daily role.</p>

      <h2 class="govuk-heading-l">Course structure</h2>

      <p>The DfE-approved providers offering this NPQ have designed their course content around an evidence-based framework.</p>

      <p>The course covers 10 topics, with a mix of self-study and group coaching sessions, as well as face-to-face sessions with other participants.</p>

      <p>On average you will need to spend between 1 and 2 hours per week working towards completing this NPQ. Where possible, you should do this during dedicated career development time in school hours.</p>

      <h2 class="govuk-heading-l">How this NPQ is assessed</h2>

      <p>To get your NPQ accreditation you'll need to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>complete the course</li>
        <li>pass a written assessment up to 2,500 words) at the end</li>
      </ul>

      <p>Your course provider will be able to give you more details about how the assessment works.</p>

      <h2 class="govuk-heading-l">Course funding</h2>

      <p>Full DfE funding, with no cost to the participant, is available to staff from:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>state-funded schools in England</li>
        <li>state-funded organisations that offer 16 to 19 places in England</li>
      </ul>

      <p>You can do more than one NPQ, but will only be eligible for funding for each NPQ once. If you withdraw or fail your course you cannot get funded again for the same NPQ.</p>

      <h2 class="govuk-heading-l">Next steps</h2>

      <h3 class="govuk-heading-m">Step 1</h3>

      <p>Speak to your line manager to get support for you doing this NPQ.</p>

      <h3 class="govuk-heading-m">Step 2</h3>

      <p>Once you have your school's approval, they'll be able to help you choose a training provider.</p>

      <h3 class="govuk-heading-m">Step 3</h3>

      <p><a href="https://register-national-professional-qualifications.education.gov.uk/">Register with us</a> so we can confirm you're eligible to take this course for free.<p/>

      <p>We'll give your details to your chosen provider once you have registered. They'll then send you an application form.</p>

    </div>
  </div>

{% endblock %}
