{% extends "layout.html" %}

{% block pageTitle %}
Professional development for teachers and leaders
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Get a teacher reference number</h1>

      <h2 class="govuk-heading-l">Why do I need this?</h2>

      <p>Everyone needs a TRN [ADD LINK] to register for an NPQ. You do not need to be a teacher to get a TRN.</p>

      <h2 class="govuk-heading-l">Request a TRN by email</h2>

      <p>If you've never been given a TRN, email the Teaching Regulation Agency at qts.enquiries@education.gov.uk [ADD LINK]. The team aim to respond to valid email requests within 5 working days.</p>

      <p>You'll need to provide contact details and proof of ID to receive a TRN.</p>

      <p>Use the free Galaxkey secure email platform to ensure your identification documents are protected. Full instructions can be found below.</p>

      <h2 class="govuk-heading-l">Register to send a secure email</h2>

      <p>To send a secure email to the department, please go to the Galaxkey site: https://manager.galaxkey.com/services/registerme [ADD LINK]</p>

      <p>Enter the email address that you wish to sign up with and complete the registration process.</p>

      <p>You'll be sent an email to activate your account once you have completed this step. You can then send secure emails to the Teaching Regulation Agency using Galaxkey.</p>

      <h2 class="govuk-heading-l">Send your ID documents securely</h2>

      <p>Follow these steps to send your documents through Galaxkey:</p>

      <ol class="govuk-list govuk-list--number">
        <li>Select 'Compose' to create a new secure email.</li>
        <li>Enter 'qts.enquiries@education.gov.uk' as the recipient.</li>
        <li>Enter 'Undertaking an NPQ, do not have a TRN and require a number to be issued' as the subject line.</li>
        <li>Include the following information in your email:
          <ul class="govuk-list govuk-list--bullet">
            <li>your full legal name</li>
            <li>your date of birth</li>
            <li>an email address for the team to reply to</li>
          </ul>
        </li>
        <li>Attach a scanned copy or photo of one of the following types of ID:
          <ul class="govuk-list govuk-list--bullet">
            <li>passport</li>
            <li>driving licence (full or provisional)</li>
            <li>certificate of residence</li>
            <li>birth certificate</li>
          </ul>
        </li>
      </ol>

      <p>Follow the guidance on screen to make sure you send the correct file size.</p>
      <p>Find information about how the Teaching Regulation Agency processes your data on the teacher self-service site [ADD LINK].</p>

      <h2 class="govuk-heading-l">What happens next</h2>

      <p>The Teaching Regulation Agency will use the information you send to create a permanent record and your TRN.</p>

      <p>Your ID documents will be deleted once your request is processed.</p>

    </div>
  </div>

{% endblock %}
