
{% extends "layout.html" %}

{% block pageTitle %}
  Development opportunities for teachers and school leaders
{% endblock %}


{% block content %}



{% block navigation %}

<div class="govuk-grid-row blue-background ">
  <main class="govuk-width-container govuk-!-padding-top-7 govuk-!-padding-bottom-5 govuk-!-padding-left-5 govuk-main-wrapper govuk-main-wrapper--l">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl white-text govuk-!-margin-top-0 govuk-!-margin-bottom-0">Development opportunities for teachers and school leaders</h1>
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-top-6 govuk-!-margin-bottom-4 white-text">We fund a range of evidence-based professional development options so you can hone your skills at every stage of your career.

</p>


      </div>
    </div>

  </main>
</div>
{% endblock %}

<div class="govuk-grid-row govuk-!-padding-top-7">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      Become a more effective classroom practitioner
    </h2>
    <p>
      Take a specialist national professional qualification (NPQ) to build on your existing experience and knowledge in different aspects of teaching and school life. 
    </p>

  </div>
</div>

<div class="govuk-grid-row govuk-!-padding-top-1">
  <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/docs/tutorials-and-examples">Leading teaching NPQ</a></h3>
      <p class="govuk-!-margin-bottom-1">Learn how to lead the teaching of a subject, year group or phase in a way that’s effective and helps support colleagues improve pupil outcomes.</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/docs/tutorials-and-examples">Leading behaviour and culture NPQ</a></h3>
      <p class="govuk-!-margin-bottom-1">Gain expertise in ways to reduce classroom disruption and learn how to develop a culture of high expectations and good behaviour in your school.</p>
    </div>
  </div>

</div>

<div class="govuk-grid-row govuk-!-padding-top-1">
  <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/docs/tutorials-and-examples">Leading literacy NPQ</a></h3>
      <p class="govuk-!-margin-bottom-1">Learn how to support colleagues develop all pupils’ language capability and wider understanding of language.</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/leading-teacher-development">Leading teacher development NPQ</a></h3>
      <p class="govuk-!-margin-bottom-1">Gain the knowledge to become a teacher educator and successfully support teachers in your school to expand their skills.</p>
    </div>
  </div>
  
</div>

<div class="govuk-grid-row govuk-!-padding-top-7">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      Become a more effective classroom practitioner
    </h2>
    <p>
      Take a specialist national professional qualification (NPQ) to build on your existing experience and knowledge in different aspects of teaching and school life. 
    </p>

  </div>
</div>

<div class="govuk-grid-row govuk-!-padding-top-1">
  <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/docs/tutorials-and-examples">Leading teaching NPQ</a></h3>
      <p class="govuk-!-margin-bottom-1">Learn how to lead the teaching of a subject, year group or phase in a way that’s effective and helps support colleagues improve pupil outcomes.</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/docs/tutorials-and-examples">Leading behaviour and culture NPQ</a></h3>
      <p class="govuk-!-margin-bottom-1">Gain expertise in ways to reduce classroom disruption and learn how to develop a culture of high expectations and good behaviour in your school.</p>
    </div>
  </div>

</div>

<div class="govuk-grid-row govuk-!-padding-top-1">
  <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/docs/tutorials-and-examples">Leading literacy NPQ</a></h3>
      <p class="govuk-!-margin-bottom-1">Learn how to support colleagues develop all pupils’ language capability and wider understanding of language.</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/docs/tutorials-and-examples">Leading teacher development NPQ</a></h3>
      <p class="govuk-!-margin-bottom-1">Gain the knowledge to become a teacher educator and successfully support teachers in your school to expand their skills.</p>
    </div>
  </div>
  
</div>


  

{% endblock %}
