{% extends "layout.html" %}

{% block meta %}
<meta name="description" content="Information about professional development opportunities for teachers, support staff and leaders." />
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div class="govuk-grid-row blue-background">
  <div class="govuk-!-padding-top-7 govuk-!-padding-bottom-5 govuk-!-padding-left-5">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl white-text govuk-!-margin-top-0 govuk-!-margin-bottom-0">Professional development for teachers and leaders</h1>

        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-top-6 govuk-!-margin-bottom-4 white-text">Choose a professional development option to improve your skills, increase your confidence or help you progress to a more senior role.</p>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-!-padding-top-7">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      Broaden your expertise
    </h2>

    <p>
      Take a specialist national professional qualification (NPQ) to enhance and develop your existing skills and knowledge both inside and outside of the classroom.
    </p>
  </div>
</div>

<div class="govuk-grid-row govuk-!-padding-top-1">
  <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/leading-teaching">Leading teaching NPQ</a></h3>

      <p class="govuk-!-margin-bottom-6">Learn how to lead the teaching and learning of a subject, year group or phase.</p>
    </div>
  </div>

  <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/leading-behaviour-and-culture">Leading behaviour and culture NPQ</a></h3>

      <p class="govuk-!-margin-bottom-6">Learn how to create a culture of good behaviour and high expectations in which staff and pupils can thrive.</p>
    </div>
  </div>

</div>

<div class="govuk-grid-row govuk-!-padding-top-1">
  <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/leading-literacy">Leading literacy NPQ</a></h3>

      <p class="govuk-!-margin-bottom-1">Learn how to effectively teach and promote literacy across the whole school, year group, key stage or phase.</p>
    </div>
  </div>

  <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/leading-teacher-development">Leading teacher development NPQ</a></h3>

      <p class="govuk-!-margin-bottom-1">Learn how to become a teacher educator and successfully support teachers in your school to expand their skills.</p>
    </div>
  </div>

</div>

<div class="govuk-grid-row govuk-!-padding-top-7">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      Develop your leadership skills
    </h2>

    <p>
      Take a leadership-focused NPQ to help boost your knowledge and confidence as you progress into more senior roles.</p>
  </div>
</div>

<div class="govuk-grid-row govuk-!-padding-top-1">
  <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/senior-leadership">Senior leadership NPQ</a></h3>

      <p class="govuk-!-margin-bottom-1">Develop your leadership knowledge and expertise to improve outcomes for teachers and pupils in your school.</p>
    </div>
  </div>

  <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/headship">Headship NPQ</a></h3>

      <p class="govuk-!-margin-bottom-1">Develop the knowledge that underpins expert school leadership and apply it to become an outstanding headteacher.</p>
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-!-padding-top-1">
  <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/executive-leadership">Executive leadership NPQ</a></h3>

      <p class="govuk-!-margin-bottom-1">Develop the expertise you need to become an outstanding executive leader, leading change and improvement across your group of schools or multi-academy trust.</p>
    </div>
  </div>

  <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/early-years-leadership">Early years leadership NPQ</a></h3>

      <p class="govuk-!-margin-bottom-1">Develop expertise in leading high-quality early years education and care, as well as effective staff and organisational management.</p>
    <br>
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-!-padding-top-7">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      Support for new headteachers
    </h2>

    <p>Have you been a headteacher for less than 5 years?</p>

    <p>Our <a href="/early-headship-coaching-offer">early headship coaching offer</a> features a range of support, including coaching and networking opportunities. You will also be able to access a toolkit of resources to help you thrive in your role.</p>
  </div>
</div>

<div class="govuk-grid-row govuk-!-padding-top-7">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-4">
    <div style="background-color:#F3F2F1; padding: 10px;">
    <h2 class="govuk-heading-m govuk-!-padding-top-4">
      If you coordinate professional development
    </h2>
    <p><a href="/public/files/npq-campaign.pdf">Download or print an NPQ prospectus</a> to share with colleagues in your organisation.</p>
  </div>
</div>
</div>

  {{ super() }}
{% endblock %}
