{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukSkipLink({
    href: "#main-content",
    text: "Skip to main content"
  }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a href="/version-2/survey">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% if useAutoStoreData %}
  {% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "/cookies",
            text: "Cookies"
          },
          {
            href: "/privacy",
            text: "Privacy"
          },
          {
            href: "/accessibility-statement",
            text: "Accessibility"
          },
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}
{% endif %}

{% block bodyEnd %}
  {% include "includes/scripts-2.html" %}
  {% block pageScripts %}{% endblock %}
{% endblock %}
