{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk"           import govukAccordion %}
{% from "govuk/components/back-link/macro.njk"           import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"         import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"              import govukButton %}
{% from "govuk/components/character-count/macro.njk"     import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk"          import govukCheckboxes %}
{% from "govuk/components/cookie-banner/macro.njk"       import govukCookieBanner %}
{% from "govuk/components/date-input/macro.njk"          import govukDateInput %}
{% from "govuk/components/details/macro.njk"             import govukDetails %}
{% from "govuk/components/error-message/macro.njk"       import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk"       import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"            import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"         import govukFileUpload %}
{% from "govuk/components/input/macro.njk"               import govukInput %}
{% from "govuk/components/inset-text/macro.njk"          import govukInsetText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/panel/macro.njk"               import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"        import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"              import govukRadios %}
{% from "govuk/components/select/macro.njk"              import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"           import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk"        import govukSummaryList %}
{% from "govuk/components/table/macro.njk"               import govukTable %}
{% from "govuk/components/tabs/macro.njk"                import govukTabs %}
{% from "govuk/components/tag/macro.njk"                 import govukTag %}
{% from "govuk/components/textarea/macro.njk"            import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"        import govukWarningText %}

{% block pageTitle %}Professional development for teachers and leaders{% endblock %}

{% block headIcons %}
  {{ super() }}
{% endblock %}

{% block head %}
{% block meta %}{% endblock %}
{% include "includes/head.html" %}
{% endblock %}

{% block bodyStart %}
  {{ super() }}
{% endblock %}

{% block skipLink %}{% endblock %}

{% block header %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    containerClasses: "govuk-width-container",
    serviceName: serviceName,
    serviceUrl: "/"
  }) }}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% block main %}
  {{ super() }}
{% endblock %}

{% block beforeContent %}
  <nav>
    {{ govukSkipLink({
      href: "#main-content",
      text: "Skip to main content"
    }) }}
  </nav>

  <aside>
    {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: 'We would love your feedback - use this <a href="https://www.smartsurvey.co.uk/s/OCZTVF/">SmartSurvey form</a> to tell us how we can improve our content.'
    }) }}
  </aside>

  {% block breadcrumbs %}
    <nav aria-label="breadcrumbs">
      {{ govukBreadcrumbs({
        items: [
          {
            text: "Home",
            href: "/"
          }
        ]
      }) }}
    </nav>
  {% endblock %}
{% endblock %}



{% block footer %}
  <div class="govuk-width-container">
    <div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt govuk-!-padding-2" tabindex="-1">
      <div class="gem-c-feedback__prompt-questions js-prompt-questions">
        <h2 class="govuk-label govuk-label--m white-text">We'd love your feedback </h2>
        <div class="govuk-body govuk-!-padding-bottom-2 govuk-!-margin-bottom-0 white-text"> Use this <a class="white-text" href="https://www.smartsurvey.co.uk/s/AMX4VA/">SmartSurvey form</a> to tell us how we can make our NPQs content better.</div>
      </div>
    </div>
  </div>

  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/cookies",
          text: "Cookies"
        },
        {
          href: "/privacy",
          text: "Privacy"
        },
        {
          href: "/accessibility-statement",
          text: "Accessibility"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {% include "includes/scripts.html" %}
  {% block pageScripts %}{% endblock %}
{% endblock %}
