{% extends "layout.html" %}

{% block meta %}
  <meta name="description" content="Everything teachers and leaders need to know about doing the leading teaching NPQ." />
{% endblock %}

{% block pageTitle %}
  Leading teaching NPQ
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">National professional qualification</span>
      <h1 class="govuk-heading-xl">Leading primary mathematics</h1>
      <h2 class="govuk-heading-l">Summary</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            For
          </dt>
          <dd class="govuk-summary-list__value">
            Primary teachers and leaders with responsibility for leading maths across a key-stage or school, or those who want to have this responsibility.
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Course duration
          </dt>
          <dd class="govuk-summary-list__value">
            12 months
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Average weekly study time
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">1 to 2 hours</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Study type
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Mix of self-study and group sessions</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Assessment type
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Written assessment</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Next start
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">February 2024</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Funding
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Funding to cover the course fees is available if you’re a teacher or leader employed in state funded primary school and you have a secure understanding of mastery approaches to teaching maths from the <a href="https://www.ncetm.org.uk/teaching-for-mastery/">Teaching for Mastery</a> programme, or equivalent programme.</p>
            <p class="govuk-body"><a href="https://www.gov.uk/government/publications/national-professional-qualifications-npqs">Learn about funding</a>.</p>
          </dd>
      </dl>

      <h2 class="govuk-heading-l">Course overview</h2>

      <p>This course will help you to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>embed mastery approaches to teaching maths in your school</li>
        <li>lead your school to teach maths effectively, working collaboratively with senior leaders and teachers</li>
      </ul>

      <h2 class="govuk-heading-l">Who this course is for</h2>

      <p>This course could be suitable if you’re a:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>primary teacher and you’re already familiar with mastery approaches to teaching maths, but you want to improve your leadership skills in this area</li>
        <li>subject leader in a primary school which is already engaged in the Teaching for Mastery programme or similar programme</li>
      </ul>

      <h2 class="govuk-heading-l">What you’ll learn</h2>

      <h3 class="govuk-heading-m">Develop a school culture with a positive attitude to maths</h3>

      <p>You’ll learn about how pupils learn, helping you to develop systems which support children to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>overcome maths anxiety</li>
        <li>build resilience</li>
        <li>develop problem-solving strategies</li>
      </ul>

      <p>You’ll learn how to create a culture of high expectations where teachers can:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>challenge and motivate pupils</li>
        <li>give pupils high quality feedback</li>
      </ul>

      <h3 class="govuk-heading-m">Design and introduce maths curriculums</h3>

      <p>You’ll learn how to design maths curriculums and develop leadership skills to help you introduce them.</p>

      <p>For example, you’ll learn how to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>identify the maths knowledge that pupils need</li>
        <li>help pupils make connections between maths facts and concepts</li>
        <li>identify gaps in pupils’ knowledge and make changes accordingly</li>
        <li>plan curriculum changes so that teachers are supported</li>
      </ul>

      <h3 class="govuk-heading-m">Support maths teachers in your school</h3>

      <p>You’ll learn techniques to help you support maths teachers.</p>

      <p>For example, you may learn techniques to help them:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>plan lessons, for example sequencing lessons so that pupils can build their knowledge</li>
        <li>meet individual pupil needs, for example grouping pupils to provide tailored support</li>
        <li>manage their workload, for example sharing approaches to marking work</li>
        <li>understand and use consistent maths vocabulary</li>
      </ul>


      <h2 class="govuk-heading-l">Course structure</h2>

      <p>The course includes 10 modules, outlined in the <a href="https://www.gov.uk/government/publications/national-professional-qualifications-frameworks-from-september-2021">course framework</a>. Providers use this framework to design their course.</p>

      <p>The course includes:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>independent study</li>
        <li>group coaching</li>
        <li>face-to-face sessions with other participants</li>
      </ul>

      <p>You’ll need to spend about one to 2 hours a week working on this NPQ.</p>

      <p>If you can, you should do this during work hours in career development time.</p>

      <h2 class="govuk-heading-l">Providers</h2>

      <p>You can train with one of the following providers:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Ambition Institute</li>
        <li>Church of England</li>
        <li>Education Development Trust</li>
        <li>LLSE</li>
        <li>National Institute of Teaching</li>
        <li>Teach First</li>
        <li>UCL Institute of Education</li>
      </ul>

      <p>They work with delivery partners, such as teaching school hubs, to provide training.</p>


      <h2 class="govuk-heading-l">Assessment</h2>

      <p>To get your NPQ accreditation you’ll need to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>complete the course</li>
        <li>pass a written assessment (1,500 words) at the end</li>
      </ul>

      <h2 class="govuk-heading-l">Apply</h2>

      <p>It is not yet possible to apply for this course.</p>

      <p>You can <a href="https://register-national-professional-qualifications.education.gov.uk/">register</a> from October 2023.</p>

      <p>You’ll also need to apply separately with your training provider. They’ll send you an application form once you’ve registered.</p>

    </div>
  </div>

  {{ super() }}
{% endblock %}
