{% extends "layout.html" %}

{% block meta %}
  <meta name="description" content="Everything teachers and leaders need to know about doing the leading teaching NPQ." />
{% endblock %}

{% block pageTitle %}
  Leading teaching NPQ
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">National professional qualification</span>
      <h1 class="govuk-heading-xl">Leading primary mathematics</h1>
      <h2 class="govuk-heading-l">Summary</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            For
          </dt>
          <dd class="govuk-summary-list__value">
            Primary teachers and leaders with responsibility for leading maths across a key-stage or school, or those who want to have this responsibility.
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Course duration
          </dt>
          <dd class="govuk-summary-list__value">
            12 months
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Average weekly study time
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">1 to 2 hours</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Study type
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Mix of self-study and group sessions</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Assessment type
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Written assessment</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Next start
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">February 2024</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Funding
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Funding to cover the course fees is available if you’re a teacher or leader employed in a state funded primary school and you’ve done or you’re doing the Teaching for Mastery programme or equivalent qualification. <a href="https://www.gov.uk/government/publications/national-professional-qualifications-npqs">Learn about funding</a>.</p>
          </dd>
      </dl>

      <h2 class="govuk-heading-l">Course overview</h2>

      <p>This course will help you to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>embed mastery approaches to teaching maths in your school</li>
        <li>lead your school to teach maths effectively, working collaboratively with senior leaders and teachers</li>
      </ul>

      <h2 class="govuk-heading-l">Who this course is for</h2>

      <p>This course could be suitable if you’re a:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>primary teacher and you’re already familiar with mastery approaches to teaching maths, but you want to improve your leadership skills in this area</li>
        <li>subject leader in a primary school which is already engaged in the Teaching for Mastery programme or similar programme</li>
      </ul>

      <h2 class="govuk-heading-l">What you’ll learn</h2>

      <h3 class="govuk-heading-m">Develop a school culture with a positive attitude to maths</h3>

      <p>You’ll learn about how pupils learn.</p>

      <p>This can help you develop school systems which support children to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>overcome maths anxiety</li>
        <li>build resilience</li>
        <li>develop problem-solving strategies</li>
      </ul>

      <p>You’ll learn how to create a culture of high expectations where teachers can:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>challenge and motivate pupils</li>
        <li>give pupils high quality feedback</li>
      </ul>

      <h3 class="govuk-heading-m">Design and introduce maths curriculums</h3>

      <p>You’ll learn how to design maths curriculums that help pupils succeed.</p>

      <p>You’ll also develop your leadership skills to help you introduce curriculums.</p>

      <p>For example, you may learn how to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>identify the maths knowledge that pupils need</li>
        <li>help pupils make connections between maths facts and concepts</li>
        <li>identify gaps in pupils’ knowledge and make changes accordingly</li>
        <li>plan curriculum changes so that teachers are supported</li>
      </ul>

      <h3 class="govuk-heading-m">Support maths teachers in your school</h3>

      <p>You’ll learn techniques which can help you support maths teachers.</p>

      <p>For example, you may learn techniques to help them:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>plan lessons, for example sequencing lessons so that pupils can build their knowledge</li>
        <li>help pupils make connections between maths facts and concepts</li>
        <li>identify gaps in pupils’ knowledge and make changes accordingly</li>
        <li>plan curriculum changes so that teachers are supported</li>
      </ul>


meet individual pupil needs, for example grouping pupils to provide tailored support

manage their workload, for example sharing approaches to marking work

understand and use consistent maths vocabulary





      <h2 class="govuk-heading-l">Course structure</h2>

      <p>The DfE-approved providers offering this NPQ have designed their course content around an evidence-based framework.</p>

      <p>The course covers 10 topics, with a mix of self-study and group coaching sessions, as well as face-to-face sessions with other participants.</p>

      <p>On average you will need to spend between 1 and 2 hours per week working towards completing this NPQ. Where possible, you should do this during dedicated career development time in work hours.</p>

      <h2 class="govuk-heading-l">How this NPQ is assessed</h2>

      <p>To get your NPQ accreditation you’ll need to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>complete the course</li>
        <li>pass a written assessment</li>
      </ul>

      <p>Your course provider will be able to give you more details about how the assessment works.</p>

      <h2 class="govuk-heading-l">Course funding</h2>

      <p>Teachers and leaders employed at state-funded organisations accessing this qualification in the spring 2024 will be able access a fully funded training scholarship for this qualification.</p>

      <p>Depending on your type of setting, you may be able to get funding for more than one NPQ. You will only be eligible for funding for each NPQ once. If you withdraw or fail your course you cannot get funded again for the same NPQ.</p>

      <h2 class="govuk-heading-l">Apply</h2>

      <p>Apply from autumn 2023.</p>

    </div>
  </div>

  {{ super() }}
{% endblock %}
