{% extends "layout.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">National Professional Qualification</span>
      <h1 class="govuk-heading-xl">Leading behaviour and culture</h1>

      <h2 class="govuk-heading-l">Summary</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            For 
          </dt>
          <dd class="govuk-summary-list__value">
            Classroom teachers and middle leaders
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Course duration
          </dt>
          <dd class="govuk-summary-list__value">
            12 to 15 months
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Weekly study time
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">1 to 2 hours</p>
          </dd>  
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Study type
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Mix of self-study and group sessions, mostly online</p>
          </dd>  
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Assessment type
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Case study (1,500 words)</p>
          </dd>  
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Next start
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Autumn 2022 (apply from June)</p>
          </dd>  
        </div>

      </dl>

      <h2 class="govuk-heading-l">Course overview</h2>

      <p>This course will help staff gain confidence and develop skills in:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>implementing evidence-based professional development programmes focused on improving classroom teaching</li>
        <li>promoting a strong professional development culture across their school</li>
      </ul>
      
      <p>Teachers will get to train alongside peers with similar responsibilities. The course content focuses on the key challenges teachers face in their role.</p>

      <p>Teachers and education experts designed this course to fit around busy teaching timetables. There's no project work and minimal time out of school required.</p>

      <h2 class="govuk-heading-l">Who this course is for</h2>

      <p>This course is for teachers and middle leaders who have, or want to have:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>responsibilities for leading the development of other teachers in their school. This includes anyone interested in mentoring trainees or early career teachers</li>
      </ul>

      <h2 class="govuk-heading-l">What you will learn</h2>

      <p>This course covers:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>designing and delivering effective professional development</li>
        <li>how to make informed evidence-based professional development decisions</li>
        <li>techniques for tailoring and adapting support based on individual development needs</li>
      </ul>


 


    </div>
  </div>

{% endblock %}