{% extends "layout.html" %}

{% block meta %}
  <meta name="description" content="Everything teachers and leaders need to know about doing the leading teaching NPQ." />
{% endblock %}

{% block pageTitle %}
  Leading teaching NPQ
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">National professional qualification</span>
      <h1 class="govuk-heading-xl">Leading primary mathematics</h1>
      <h2 class="govuk-heading-l">Summary</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            For
          </dt>
          <dd class="govuk-summary-list__value">
            Teachers who have, or are aspiring to have, responsibilities for leading the development of primary mathematics across a key-stage, phase or school.
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Course duration
          </dt>
          <dd class="govuk-summary-list__value">
            12 months
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Average weekly study time
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">1 to 2 hours</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Study type
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Mix of self-study and group sessions</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Assessment type
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Summative assessment</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Next start
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Spring 2024</p>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-l">Course overview</h2>

      <p>This one-year course will help you gain confidence and develop skills in:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>embedding high-quality mathematics teaching for mastery approaches across your school</li>
        <li>leading and working collaboratively with teachers and senior leaders, to enable your school to further develop effective mathematics teaching</li>
      </ul>

      <h2 class="govuk-heading-l">Who this course is for</h2>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>teachers who are familiar with the principles of mastery in mathematics teaching approaches and are looking to build their leadership capability</li>
        <li>subject leaders in schools who are already engaged in the Teaching for Mastery (TfM) programme, or similar programmes.</li>
      </ul>

      <p>If you work in a school, discuss with your headteacher or provider which NPQ best meets your needs. </p>

      <h2 class="govuk-heading-l">What you’ll learn</h2>

      <p>This course topics are:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Developing Primary Mathematics </li>
        <li>Teaching</li>
        <li>School Culture</li>
        <li>How Pupils Learn</li>
        <li>Subject and Curriculum</li>
        <li>Classroom Practice</li>
        <li>Adaptive Teaching</li>
        <li>Assessment</li>
        <li>Professional Development</li>
        <li>Implementation</li>
      </ul>

      <h2 class="govuk-heading-l">How you and your school could benefit</h2>

      <h3 class="govuk-heading-m">Develop a school culture where teachers and pupils have a positive attitude to mathematics</h3>

      <p>You’ll understand how to develop school-wide systems which support children to overcome maths anxiety, build resilience and develop a range of problem-solving strategies.</p>

      <h3 class="govuk-heading-m">Implement a detailed and coherent maths curriculum which enables all pupils to succeed</h3>

      <p>You’ll learn how to support staff to identify core elements of the curriculum and ensure teaching time is utilized effectively. This includes understanding how new content can be introduced in small, incremental steps to support pupils to make connections between concepts.</p>

      <h3 class="govuk-heading-m">A wider understanding of mathematical language, symbolic notation and mathematical talk</h3>

      <p>You’ll be able to use techniques from the course to help your school develop a culture of high-quality mathematical language and vocabulary. Ensuring that appropriate terminology is used by all staff, including teachers, teaching assistants, and school leaders, across the school.</p>

      <h3 class="govuk-heading-m">Learn to support colleagues effectively</h3>

      <p>You’ll develop the skills to help colleagues plan effective maths lessons, meet individual pupil needs and provide opportunities for all pupils to succeed.</p>

      <h3 class="govuk-heading-m">Learn with people from different education settings</h3>

      <p>Take advantage of training alongside a diverse group of fellow educators with lots of different perspectives. You’ll be able to learn from each other’s experiences and bounce ideas off each other during group sessions and collaborative practical tasks.</p>

      <h2 class="govuk-heading-l">Course structure</h2>

      <p>The DfE-approved providers offering this NPQ have designed their course content around an evidence-based framework.</p>

      <p>The course covers 10 topics, with a mix of self-study and group coaching sessions, as well as face-to-face sessions with other participants.</p>

      <p>On average you will need to spend between 1 and 2 hours per week working towards completing this NPQ. Where possible, you should do this during dedicated career development time in work hours.</p>

      <h2 class="govuk-heading-l">How this NPQ is assessed</h2>

      <p>To get your NPQ accreditation you’ll need to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>complete the course</li>
        <li>pass a written assessment</li>
      </ul>

      <p>Your course provider will be able to give you more details about how the assessment works.</p>

      <h2 class="govuk-heading-l">Course funding</h2>

      <p>Teachers and leaders employed at state-funded organisations accessing this qualification in the spring 2024 will be able access a fully funded training scholarship for this qualification.</p>

      <p>Depending on your type of setting, you may be able to get funding for more than one NPQ. You will only be eligible for funding for each NPQ once. If you withdraw or fail your course you cannot get funded again for the same NPQ.</p>

      <h2 class="govuk-heading-l">Apply</h2>

      <p>Apply from autumn 2023.</p>

    </div>
  </div>

  {{ super() }}
{% endblock %}
