{% extends "layout.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">National Professional Qualification</span>
      <h1 class="govuk-heading-xl">Leading behaviour and culture</h1>

      <h3 class="govuk-heading-m">Summary</h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            For 
          </dt>
          <dd class="govuk-summary-list__value">
            Classroom teachers and middle leaders
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Course duration
          </dt>
          <dd class="govuk-summary-list__value">
            12 to 15 months
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Weekly study time
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">1 to 2 hours</p>
          </dd>  
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Study type
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Mix of self-study and group sessions</p>
          </dd>  
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Assessment type
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Case study (2,000 words)</p>
          </dd>  
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Next start
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Autumn 2022 (apply from June)</p>
          </dd>  
        </div>

      </dl>

      <h2 class="govuk-heading-l">Course overview</h2>

      <p>This course will help staff develop skills and gain the confidence to enact changes in:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>setting a culture of high expectations and learning in their school</li>
        <li>enabling conditions for good behaviour for pupils and ensuring colleagues are supported in their classroom-level approaches</li>
        <li>supporting pupil wellbeing and understanding the impact this has on behaviour</li>
      </ul>

        <p>Teachers will get to train alongside peers with similar responsibilities. The course content focuses on the key challenges teachers face in their role.</p>

        <p>Teachers and education experts designed this course to fit around busy teaching timetables.</p> 

        <h2 class="govuk-heading-l">Who this course is for</h2>

        <p>This course is suitable for all teachers and leaders who are, or want to be, involved in:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>developing and implementing behaviour and wellbeing strategies in their school</li>
        </ul>

        <p>This course is also suitable for other specialised roles including:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>behaviour management lead</li>
          <li>special educational needs co-ordinator</li>
          <li>welfare management manager</li>
          <li>pastoral team lead</li>
        </ul>

          <h2 class="govuk-heading-l">What you will learn</h2>

      <p>This course covers:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>creating a culture of high expectations, including the impact this has on school outcomes</li>
        <li>enabling conditions for good behaviour, including through implementing effective behaviour management systems</li>
        <li>dealing with complex behavioural needs, including how to prevent and respond to bullying</li>
        <li>developing effective professional development linked to behaviour and culture</li>
        <li>implementing evidence-based improvement plans</li>
      </ul>

      <h2 class="govuk-heading-l">How you and your school could benefit</h2>

      <h3 class="govuk-heading-m">Gain expertise</h3>

      <p>This programme offers continuous professional development and a chance to develop specific expertise. You will get tailored feedback and support throughout.</p>

      <h3 class="govuk-heading-m">Drive meaningful change</h3>
      
      <p>You will develop knowledge in leading behaviour and culture. You will then be able to apply it in practice across your school.</p>

      <p>This will help to engage and motivate staff and pupils. It will also help reduce disruption in classrooms.</p>
      
      <h3 class="govuk-heading-m">Create a positive school culture</h3>
      
      <p>You will learn to develop school-wide systems and processes to support pupils. This will enable you to get the best out of pupils and colleagues in your school.</p>
      
      <h3 class="govuk-heading-m">Learn with people from different education settings</h3>
      
      <p>Take advantage of training alongside a diverse group of fellow educators with lots of different perspectives. You can learn from each other's experiences and bounce ideas off each other during group sessions and collaborative practical tasks.</p> 
      
      <h3 class="govuk-heading-m">Improve pupil outcomes</h3>
      
      <p>You will be able to shape a positive and encouraging atmosphere where pupils are more likely to thrive.</p>
      
      <h2 class="govuk-heading-l">Course structure</h2>

      <p>The providers have based their course content on a single DfE-approved evidence-based framework.</p>

      <p>They use experienced trainers who will understand your needs. You will also get to learn alongside other teachers whose contexts are similar.</p>

      <p>The course is broken down into modules, with a mix of self-study and group coaching sessions, as well as face-to-face sessions with other teachers.</p>
      
      <p>One module will be focussed on implementation. This will give you the opportunity to plan, practise and carry out implementing a strategy in your context.</p>

      <p>There will be a 3 month window at the end of the course to write a 2,000 word response to a case study.</p>

      <p>You will need to spend between one and 2 hours per week working towards completing this NPQ. If possible, you should do this during dedicated career development time in school hours.</p>

      <p>You must complete the course to qualify for the NPQ accreditation.</p>

      <h2 class="govuk-heading-l">Course funding</h2>

      <p>Full DfE funding, with no cost to the participant, is available to all teachers from:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>state-funded schools in England</li>
        <li>state-funded organisations that offer 16 to 19 places in England</li>
        <li>predominantly state-funded settings in which under-19s receive their main education</li>
      </ul>

      <p>Participants will only be eligible for funding for each NPQ once.</p>

      <h2 class="govuk-heading-l">Next steps</h2>

      <h3 class="govuk-heading-m">Step 1</h3>

      <p>Speak to your line manager to get support for you doing this NPQ. You must have your line manager and head teacher's approval before applying.</p>

      <h3 class="govuk-heading-m">Step 2</h3>

      <p>DfE-approved training providers work in partnership with regional delivery partners in your area to carry out the training. You and your school should select the training provider and delivery partner combination that best meets your needs.</p>

      <p>If you do not already know who is running this course locally, contact <a href="/find-your-teaching-school-hub">your teaching school hub</a>.</p> 
      
      <p>Discuss the options with them and your line manager if you need help making a decision about choosing who to do the course with.</p>

      <h3 class="govuk-heading-m">Step 3</h3>

      <p><a href="https://npq-prototype-pr-28.herokuapp.com/start">Register with us</a> and tell us which NPQ you want to do and which provider you have chosen. This is so we can confirm you are eligible for funding.<p/>

      <p>You will need the following information to register:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your name as recorded by the Teacher Regulation Agency (TRA)</li>
        <li>your Teacher Registration Number (TRN)</li>
        </ul>

      <p>We will give your details to your chosen provider once you have registered. They will then send you an application form.</p>

    </div>
  </div>

{% endblock %}